page {
    background-color: var(--pageColorLight);
}

.title {
    font-size: 40rpx;
    margin: 90rpx 80rpx 0;
}

.ex {
    font-size: 32rpx;
    color: var(--commentColorLight);
    margin: 8rpx 83rpx 50rpx;
}

.btn {
    width: 92%;
    margin-bottom: 26rpx;
}

.blank {
    display: flex;
    margin-top: 40rpx;
}

.foot {
    width: 100%;
    bottom: 28rpx;
    position: absolute;
    color: var(--commentColorLight);
    text-align: center;
}

@media (prefers-color-scheme: dark){
    page{
        background-color: var(--pageColorDark);
    }
    .ex{
        color: var(--commentColorDark);
    }
    .foot{
        color: var(--commentColorDark);
    }
}