.title {
  margin: 20rpx 20rpx 10rpx;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.title .tt {
  font-size: 52rpx;
  margin: 4rpx 0;
}
.title .chinese {
  font-size: 28rpx;
  color: var(--commentColorLight);
}
.content,
.proof,
.remark,
.example,
.source {
  display: flex;
  margin: 0 20rpx;
  align-items: center;
}
.content .bt,
.proof .bt,
.remark .bt,
.example .bt,
.source .bt {
  font-size: 48rpx;
  margin: 0 20rpx;
}
.content van-icon,
.proof van-icon,
.remark van-icon,
.example van-icon,
.source van-icon {
  margin-left: 18rpx;
}
.content .myicon,
.proof .myicon,
.remark .myicon,
.example .myicon,
.source .myicon {
  margin: 0 108rpx -6rpx auto;
  font-size: 48rpx;
  color: var(--buttonColorLight);
}
.tow {
  margin-top: -36rpx;
}
.sour {
  font-size: 32rpx;
  color: #515151;
  margin: 8rpx 40rpx 30rpx;
}
.wrap {
  display: flex;
  background-color: var(--pageColorLight);
  align-items: center;
  height: 100rpx;
}
.wrap van-icon {
  margin: 0 10rpx 0 38rpx;
}
.wrap view {
  font-size: 38rpx;
  margin: 0 10rpx 0 10rpx;
}
.author {
  background-color: var(--pageColorLight);
  display: flex;
  height: 60rpx;
  align-items: center;
}
.author view {
  font-size: 26rpx;
}
.author .icon-lishi {
  font-weight: bolder;
  margin: 0 10rpx 0 38rpx;
}
.author .editor {
  margin: 0 8rpx;
  font-weight: bolder;
}
@media (prefers-color-scheme: dark) {
  page {
    background-color: var(--pageColorDark);
  }
  .title .chinese {
    color: var(--commentColorLight);
  }
  .myicon {
    color: var(--buttonColorDark);
  }
  .author {
    background-color: var(--boardColorDark);
  }
  .wrap {
    background-color: var(--boardColorDark);
  }
}
