<view class="type">{{ type }}</view>
<view class="entry">{{ entry }}</view>

<view class="tips">
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="#" bind:tap="onTip">
        #
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="*" bind:tap="onTip">
        *
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="-" bind:tap="onTip">
        -
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="$" bind:tap="onTip">
        $
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip=">" bind:tap="onTip">
        >
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="\\" bind:tap="onTip">
        \
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="\{" bind:tap="onTip">
        {
    </view>
    <view class="tip" hover-class="tip_hover" hover-stay-time="120" data-tip="\}" bind:tap="onTip">
        }
    </view>
</view>

<textarea wx:if="{{ flag==1 }}" bind:input="onChange" class="markdown" value="{{ rawMD }}" placeholder="开始你的编写" maxlength="-1">
</textarea>
<view wx:if="{{ flag==0 }}" class="markdown_p">{{ rawMD }}</view>
<van-dialog id="van-dialog" />

<view class="func_wrap">
    <button bind:tap="onPreview" hover-class="btn_hover">
        <view class="func_item">
            <van-icon size="28" name="eye-o" class="itm"></van-icon>
            <view class="itm_text">预览</view>
        </view>
    </button>
    <button bind:tap="onClear" hover-class="btn_hover">
        <view class="func_item">
            <van-icon size="28" name="delete-o" class="itm"></van-icon>
            <view class="itm_text">清空</view>
        </view>
    </button>
    <button bind:tap="onUndo" hover-class="btn_hover">
        <view class="func_item">
            <van-icon size="28" name="replay" class="itm"></van-icon>
            <view class="itm_text">还原</view>
        </view>
    </button>
    <button bind:tap="onUpload" hover-class="btn_hover">
        <view class="func_item">
            <van-icon size="28" name="upgrade" class="itm"></van-icon>
            <view class="itm_text">上传</view>
        </view>
    </button>
</view>

<van-toast id="van-toast" />