page {
  background-color: var(--pageColorLight);
}
.field {
  border-radius: 32rpx !important;
  border: 1.2px solid var(--themeColor) !important;
}
.input {
  padding-left: 26rpx !important;
  border-radius: 32rpx !important;
}
.custom {
  background-color: var(--boardColorLight) !important;
  border-radius: 16rpx !important;
  height: 96rpx !important;
  margin: 480rpx 15rpx !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}
.van-search__content--square {
  height: 80rpx !important;
  margin: 480rpx 15rpx !important;
  background-color: var(--boardColorLight) !important;
}
.hv {
  background-color: var(--buttonHoverColorLight) !important;
  opacity: 0.9 !important;
}
@media (prefers-color-scheme: dark) {
  page {
    background-color: var(--pageColorDark);
  }
  .custom {
    background-color: var(--boardColorDark) !important;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.4) !important;
  }
  .van-search__content--square {
    background-color: var(--boardColorDark) !important;
  }
  .ss {
    color: #fff !important;
  }
  .input {
    color: #fff !important;
  }
  .hv {
    background-color: var(--buttonHoverColorDark) !important;
  }
}
