page {
  background-color: var(--pageColorLight);
}

.info{
    font-size: 34rpx;
    color: var(--commentColorLight);
    text-align: center;
}
.title{
    font-size: 64rpx;
    text-align: center;
}

.titleee{
    font-size: 36rpx;
    margin-left: 30rpx;
}

.board{
    margin: 20rpx 20rpx;
    border: medium;
    background-color: var(--boardColorLight);
    border-radius: 16rpx;
    display: flex;
    flex-direction: column;
    .content{
        margin: 4rpx 25rpx;
        flex:1;
        font-size: 30rpx;
        color: var(--commentColorLight);
        &:nth-of-type(1){
            margin-top: 25rpx;
        }
        &:nth-last-of-type(1){
            margin-bottom: 25rpx;
        }
    }
}



.logo_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50rpx 0 46rpx 0;
    .logo{
        border-radius: 50%;
        width: 260rpx;
        height: 260rpx;
    }
}

@media (prefers-color-scheme: dark){
    page{
        background-color: var(--pageColorDark);
    }
    .info{
        color: var(--commentColorDark);
    }
    .board{
        background-color: var(--boardColorDark);
        .content{
            color: var(--commentColorDark);
        }
    }

}