@import "../../styles/iconfont.wxss";

page {
  background-color: var(--pageColorLight);
}

.login_wrap {
  height: 220rpx;
  margin: 28rpx 30rpx 4rpx 30rpx;
  border: medium;
  background-color: var(--boardColorLight);
  border-radius: 16rpx 16rpx 0 0;
  display: flex;

  .login {
    height: 100%;
    display: flex;
    margin: 20rpx 35rpx;

    .user_icon_wrap {
      margin-top: 16rpx;
      width: 150rpx;
      height: 150rpx;
      display: flex;

      .user_icon {
        height: 150rpx;
        width: 150rpx;
        border-radius: 50%;
      }
    }

    .text_wrap {
      margin-left: 20rpx;
      margin-top: 22rpx;
      height: 150rpx;
      width: 58vw;

      .ex1 {
        font-size: 46rpx;
      }

      .ex2 {
        margin-top: 30rpx;
        color: var(--commentColorLight);
        font-size: 28rpx;
      }
    }

  }
}

.func_wrap {
  margin: 4rpx 30rpx 60rpx 30rpx;
  background-color: var(--boardColorLight);
  border-radius: 0 0 16rpx 16rpx;
  height: 180rpx;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 160rpx;
    width: 200rpx;
    margin: 0 60rpx;
    border-radius: 16rpx;
    background-color: var(--boardColorLight);
    display: flex;
    justify-content: center;

    .func_item {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 8rpx;
      justify-content: center;
      flex-direction: column;
      color: var(--buttonColorLight);

      .itm_text {
        font-size: 28rpx;
      }

    }

    &::after {
      border: 0;
      border-radius: 16rpx;
    }
  }

}

.myicon {
  margin-left: 10rpx;
  margin-right: 20rpx;
  color: var(--buttonColorLight);
}

.menu {
  .btn {
    .warn{
      color:  red !important;
    }
    margin: 4rpx 30rpx;
    height: 108rpx;
    background-color: var(--boardColorLight);
    display: flex;
    align-items: center;
    border-radius: 0;

    &::after {
      border: 0;
    }

    &:nth-child(1) {
      border-radius: 16rpx 16rpx 0 0;
    }

    &:nth-last-child(1) {
      border-radius: 0 0 16rpx 16rpx;
    }
  }

  .arrow {
    color: #b0b0b0;
  }

  .title {
    width: 86%;
    text-align: left;
    font-size: 32rpx;
    /*margin-top: 12rpx;*/
  }
}

.btn_hover {
  background-color: var(--buttonHoverColorLight) !important;
  opacity: 0.9 !important;
}

@media (prefers-color-scheme: dark) {
  page {
    background-color: var(--pageColorDark);
  }

  .login_wrap {
    background-color: var(--boardColorDark);

    .ex2 {
      color: var(--commentColorDark);
    }
  }

  .func_wrap {
    background-color: var(--boardColorDark);
    button {
      background-color: var(--boardColorDark);
      .func_item{
        color: var(--buttonColorDark);
      }
    }
  }
  .myicon{
    color: var(--buttonColorDark);
  }
  .menu{
    .btn{
      background-color: var(--boardColorDark);
    }
  }
  .btn_hover {
    background-color: var(--buttonHoverColorDark) !important;
  }
}